# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger files
*.pdb
*.dwo

# Compiled Libraries
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
a.out

# Build directories
build/
cmake-build-*/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db
